@import '../../styles/global';

.card_years{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: $gray_e6;
    border-radius: 10px;

    >p{
        color: $text_decoration_black;
    }

    >p:nth-of-type(1){
        margin-top: 30px;
        margin-bottom: 25px;
    }

    >p:nth-of-type(2){
        width: 250px;
        text-align: center;
    }
}