@import '../../styles/global';


.card_create_tour{

    width: 294px;
    height: 434px;
    border-radius: 10px;
    background-color: rgba($main_black, 0.1);  
    display: flex;
    flex-direction: column;
    position: relative;
    border: 3px solid rgba($main_black, 0.1);;

    >p{
        position: absolute;
        top: 208px;
        left: 93px;
        color: $text_decoration_black
    }

    >.button_more{
        @extend .container_center;
        margin: auto auto 15px 25px;
        border-radius: 10px;
        width: 96px;
        height: 31px;
        border: 2px solid $text_decoration_white;
        background-color: rgba($text_decoration_white, 0.3);
        outline: none;
        text-decoration: none;

        >p{
            color: $text_decoration_black;
            margin-bottom: 1px;
        }
    }
}