@import '../../styles/global';

.main_image{
    
    >p:nth-of-type(1){
        max-width: 530px;
        width: 100%;
        margin: 100px 0 15px 100px;
    }

    >p:nth-of-type(2){
        color: rgba($text_decoration_white, 0.7);
        margin: 0 0 0 100px;
    }
}

.main_years{
    @extend .container_center;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0px;
    box-sizing: border-box;

    >.header_section{
        padding: 0 100px;
        box-sizing: border-box
    }

    .main_years_card{
        @extend .container_center;
        gap: 40px;
        padding: 20px 100px;
        box-sizing: border-box;
        width: 100%;
        flex-wrap: wrap;
    }

    .years_paggination{
        @extend .container_center;
        gap: 30px;

        .yp{
            align-items: center;
            height: 38px;
            width: 37px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;

            >p{
                color: $text_decoration_black;
            }

            .dot{
                height: 8px;
                width: 8px;
                border: 1px solid $text_decoration_black;
                border-radius: 10px;
            }
    
            .dot.active{
                background-color: $text_decoration_black;
            }
        }     
    }
}

.main_map{
    @extend .container_center;
    flex-direction: column;
    gap: 30px;
    padding: 25px 100px 50px 100px;
    box-sizing: border-box;
}

@media(max-width: 730px){
    .main_image{
        >p:nth-of-type(1){
            text-align: center;
            padding: 0 10px;
            margin: 100px auto 15px auto;
        }

        >p:nth-of-type(2){
            text-align: center;
            margin: 0 auto;
            padding: 0 20px;
        }
    }

}

@media(max-width: 509px){
    .main_years{
        .main_years_card{
            padding: 20px 10px;
        }
    }

    .main_map{
        @extend .container_center;
        flex-direction: column;
        gap: 30px;
        padding: 25px 10px 50px 10px;
        box-sizing: border-box;
    }
}
