
@import '../../../styles/global';

.add_photo{

    .upload_button{
        height: 40px;
        width: 240px;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        >img{
            height: 12px;
            width: 12px;
        }

        >p:nth-of-type(1){
            margin-bottom: 2px;
            color: $text_decoration_black;
        }
    
        >p:nth-of-type(2){
            margin-left: auto;
            color: rgba($text_decoration_black, 0.7);
        }
    }
}
