@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mallanna');
@import './_variables';

//---------------------------------MONTSERRAT------------------------------------
.text_Montserrat {
    font-family:  'Montserrat', sans-serif;
    margin: 0; 
    width: fit-content;
}

.text_mnt_f46_l60 {
    @extend .text_Montserrat;

    font-size: 46px; 
    font-weight: 600; 
    line-height: 60px;
    letter-spacing: 0;
    color: $main_white;
}

.text_mnt_f46_l50 {
    @extend .text_Montserrat;

    font-size: 46px; 
    font-weight: 600; 
    line-height: 60px;
    letter-spacing: 0;
    color: $main_white;
}

.text_mnt_f36_l36 {
    @extend .text_Montserrat;

    font-size: 36px; 
    font-weight: 600; 
    line-height: 36px;

    color: $main_black;
}

.text_mnt_f26_l26 {
    @extend .text_Montserrat;

    font-size: 26px; 
    font-weight: 600; 
    line-height: 26px;

    color: $main_white;
}

.text_mnt_f24_l24 {
    @extend .text_Montserrat;

    font-size: 24px; 
    font-weight: 600; 
    line-height: 24px;

    color: $main_white;
}





//---------------------------------MALLANNA------------------------------------
.text_Mallanna {
    font-family: 'Mallanna', sans-serif;
    margin: 0;
    width: fit-content;
}

.text_mln_f26_l26 {
    @extend .text_Mallanna;

    font-size: 26px; 
    line-height: 26px;
    color: $main_white;
}

.text_mln_f22_l22 {
    @extend .text_Mallanna;

    font-size: 22px; 
    line-height: 22px;
    color: $main_white;
}

.text_mln_f20_l26 {
    @extend .text_Mallanna;

    font-size: 20px; 
    line-height: 26px;
    color: $main_white;
}

.text_mln_f20_l20{
    @extend .text_Mallanna;

    font-size: 20px; 
    line-height: 20px;
    color: $main_white;
}

.text_mln_f20_l22 {
    @extend .text_Mallanna;

    font-weight: 600; 
    font-size: 22px; 
    line-height: 22px;
    color: $main_white;
}

.text_mln_f18_l26 {
    @extend .text_Mallanna;

    font-size: 18px; 
    line-height: 26px;
    color: $main_white;
}

.text_mln_f18_l18 {
    @extend .text_Mallanna;

    font-size: 18px; 
    line-height: 18px;
    color: $main_white;
}

.text_mln_f16_l16 {
    @extend .text_Mallanna;

    font-size: 16px; 
    line-height: 16px;
    color: $main_white;
}

.text_mln_f12_l12 {
    @extend .text_Mallanna;

    font-size: 12px; 
    line-height: 12px;
    color: $main_white;
}

