@import '../../styles/global';

header{
    height: 80px;
    width: 100%;
    background-color: $main_black;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: clip;
    z-index: 1000;
    
    >a:nth-of-type(1){
        margin-left: 70px;
    }

    a{
        text-decoration: none
    }

    nav{
        @extend .container_center;
        flex-grow: 1;
        gap:25px;
        margin-left: 50px;

        >a:last-child{
            margin-left: auto;
            margin-right: 50px;
        }
    }

    .icon_link{
        @extend .container_center;
        gap: 15px;
        margin: 0 70px 0 0;

        >img{
            height: 20px;
            width: 20px;
        }
    }

    .burger_menu{
        @extend .container_center;

        border: 0;
        outline: none;
        flex-direction: column;
        gap: 7px;
        margin-right: 50px;
        width: 30px;
        background-color: transparent;
        
        >span{
            width: 30px;
            height: 3px;
            background-color: $main_white;
        }
    }
}

@media(max-width: 1010px){
    header{
        nav{
            >a{
                display: none;
            }

            >a:last-child{
                display: flex;
            }
        }
    }
}

@media(max-width: 768px){
    header{
        .icon_link{
            display: none;
        }
    }
}

@media(max-width: 509px){
    header{
        >a:nth-of-type(1){
            margin-left: 50px;
        }

        nav{
            display: none;
        }

        .burger_menu{
            margin-left: auto;
        }
    }
}